@font-face {
    font-family: GothamBook;
    src: url("../fonts/Gotham-Book.otf") format("opentype");
}

@font-face {
    font-family: GothamBold;
    src: url("../fonts/Gotham-Bold.otf") format("opentype");
}

@font-face {
    font-family: GothamMedium;
    src: url("../fonts/Gotham-Medium.otf") format("opentype");
}

#components-layout-demo-top .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
    float: right;
    margin: 16px 0 16px 24px;
}
.logo{
    float: left;
    color: black;
    font-size: 2rem;
    margin-right: 30px;
}

.indexHeader{
    background-color: white;
}

#bannerWrapper{
    position: relative;
    background: url("../../public/images/index_banner2.jpg") no-repeat center center;
    background-size: cover;
    height: 500px;
    z-index: 0;
    overflow: hidden;
}

#bannerText{
    color: lightgrey;
    font-family: "GothamBold";
    font-size: 3.5rem;
    position: relative;
    z-index: 100;
    width: 100%;
    align-self: center;
    text-align: center;
    margin-top: 55px;
}

#subText{
    color: lightgrey;
    font-family: "GothamBook";
    font-size: 1.5rem;
    position: relative;
    z-index: 100;
    width: 100%;
    align-self: center;
    text-align: center;
    margin-top: 30px;
}

#bannerShade{
    background-color: black;
    opacity: 0.5;
    z-index: 90;
    position: absolute;
    min-height: 500px;
    width: 100%;
}

#indexSearchButton {
    height: 50px;
    border-radius: 32px;
    width: 100%;
    background-color: #57068c;
    border-color: #57068c;
    color: white;
    font-size: 1.3rem;
}

#indexTypeButton{
    font-size: 1rem;
}

.inputs{
    font-family: GothamBook;
}

.menus{
    font-family: GothamBook;
}

.dropdowns{
    font-family: GothamBook;
}

.buttons{
    font-family: GothamBook;
}

.logo{
    cursor: grab;
}

.headerMenu{
    float: right;
}

#root{
    height: 100%;
}

*{
    box-sizing: border-box;
}

p.image{
    text-align:center;
    font-size: xx-large;
    /*font-weight: 500;*/
    color:#57068c;
    font-family: GothamBook;
}
.imageColumn{
    float:left;
    width:33.3%;
    padding:30px
}

.imageColumn img{
    border-radius: 15px;
}

.imageRow{
    margin:40px 150px 15px 150px;
}

.imageRow::after{
    content : "";
    display : table;
    clear:both
}

.imageColumn1{
    float:left;
    width:50%;
    padding:20px
}

.imageRow1::after{
    content : "";
    display : table;
    clear:both
}

p.image1{
    text-align:left;
    font-size: x-large;
    font-weight: 500;
    color:rgb(12, 4, 4);
}