#login-bannerText{
    color: #57068c;
    font-family: "GothamBold";
    font-size: 3.5rem;
    position: relative;
    z-index: 100;
    width: 100%;
    align-self: center;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 5px;
}

#reminderText{
    color: #df2222;
    font-family: "GothamBold";
    font-size: 0.3em;
    position: relative;
    z-index: 100;
    width: 100%;
    align-self: center;
    text-align: center;
    margin-top: 5px;
}

#login-subText{
    color: #57068c;
    font-family: "GothamBook";
    font-size: 1.5rem;
    position: relative;
    z-index: 100;
    width: 100%;
    align-self: center;
    text-align: center;
    margin-top: 30px;
}