#searchWrapperOuter{
    min-height: 800px;
    margin: 20px 8%;
    font-family: "GothamBook";
    font-size: 1.5rem;
}

#searchWrapperInner{
    margin-top: 20px;
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.ant-statistic-title{
    font-size:18px;
}

.ant-list-item-action{
    margin-top: 24px !important;
}